<header class="header">
    <!--LOGO-->
    <div class="logo"></div>
    <!--LOGO-->
    <!--NAVIGATION-->
    <nav class="navigation">
        <div class="nav">
            <ul>
                <li class="current"><a class="link-home" href="https://nhonhoi-newcity.web.app/" data-name="home-page"
                        data-title="Nhơn Hội New City - Đô thị vàng bên vịnh đảo Phương Mai"
                        data-description="Nhơn Hội New City cửa ngõ vào khu du lịch Kỳ Co – Eo Gió, địa chỉ du lịch được tìm kiếm hàng đầu Việt Nam. Được biết đến là nơi ngắm bình minh đẹp nhất cả nước, Kỳ Co – Eo Gió đẹp ngỡ ngàng, xứng danh là trái tim của du lịch biển miền Trung."
                        data-keyword="Nhơn Hội New City, dự án Nhơn Hội New City">Trang chủ</a></li>
                <li><a class="link-load" href="https://nhonhoi-newcity.web.app/gioi-thieu.html" data-name="about-page"
                        data-title="Nhơn Hội New City - Trái tim của trung tâm kinh tế - du lịch biển miền Trung"
                        data-description="Nhơn Hội New City định hướng trở thành tâm điểm thương mại – giải trí – dịch vụ - du lịch nghỉ dưỡng của toàn khu vực."
                        data-keyword="giới thiệu Nhơn Hội New City, tổng quan Nhơn Hội New City">Giới thiệu</a></li>
                <li><a class="link-load" href="https://nhonhoi-newcity.web.app/vi-tri.html" data-name="location-page"
                        data-title="NHƠN HỘI NEW CITY" data-description="NHƠN HỘI NEW CITY"
                        data-keyword="NHƠN HỘI NEW CITY">Vị trí</a></li>
                <li><a class="link-load" href="https://nhonhoi-newcity.web.app/tien-ich.html" data-name="facilities-page"
                        data-title="NHƠN HỘI NEW CITY" data-description="NHƠN HỘI NEW CITY"
                        data-keyword="NHƠN HỘI NEW CITY">Tiện ích</a></li>
                <li><a class="link-load" href="https://nhonhoi-newcity.web.app/san-pham.html" data-name="product-page"
                        data-title="NHƠN HỘI NEW CITY" data-description="NHƠN HỘI NEW CITY"
                        data-keyword="NHƠN HỘI NEW CITY">Sản phẩm</a></li>
                <li><a class="link-load" href="https://nhonhoi-newcity.web.app/thu-vien.html" data-name="library-page"
                        data-title="NHƠN HỘI NEW CITY" data-description="NHƠN HỘI NEW CITY"
                        data-keyword="NHƠN HỘI NEW CITY">Thư viện</a></li>
                <li><a class="link-load" href="https://nhonhoi-newcity.web.app/lien-he.html" data-name="contact-page"
                        data-title="NHƠN HỘI NEW CITY" data-description="NHƠN HỘI NEW CITY"
                        data-keyword="NHƠN HỘI NEW CITY">Liên hệ</a></li>
            </ul>
        </div>
        <span></span>
    </nav>
    <!--NAVIGATION-->
    <!--RIGHT HEADER-->
    <div class="right-header">
        <a href="tel:0902971833" class="hotline">
            <small class="icon-phone"></small>
            <!-- <span>0902 971 833</span> -->
            <span>0902 971 833</span>
        </a>
        <a href="javascript:void(0)" class="subscribe box-register">
            <small class="icon-register"></small>
            <span>Đăng ký nhận tin</span>
        </a>
    </div>
    <!--RIGHT HEADER-->
    <!--SLIDE-BAR-->
    <div class="nav-click">
        <span></span>
        <span></span>
    </div>
    <!--SLIDE-BAR-->
    <div class="overlay-menu"></div>
    <a class="load360" href="https://nhonhoinewcity.com.vn/360/" rel="nofollow" target="_blank"></a>
</header>