<!-- SCRIPT -->
<script type="text/javascript" src="./asset/js/animate.js"></script>
<script type="text/javascript" src="./asset/js/jquery.js"></script>
<script type="text/javascript" src="./asset/js/common.js"></script>
<script type="text/javascript" src="./asset/js/scroll.js"></script>
<script type="text/javascript" src="./asset/js/slide.js"></script>
<script type="text/javascript" src="./asset/js/load.js"></script>
<script type="text/javascript" src="./asset/js/btq.js"></script>
<script type="text/javascript" src="./asset/js/btq.js"></script>
<script type="text/javascript" src="./asset/js/validate.js"></script>


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="./asset/css/slide.css?v=1.0.1">
<link rel="stylesheet" type="text/css" href="./asset/css/desktop.css?v=1.0.1">
<link rel="stylesheet" type="text/css" href="./asset/css/style.css?v=1.0.1">
<link rel="stylesheet" type="text/css" href="./asset/css/animation.css?v=1.0.1">
<link rel="stylesheet" type="text/css" href="./asset/css/change.css?v=1.0.1">