<!-- SCRIPT -->
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/animate.js?v=0.01"></script>
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/jquery.js?v=0.01"></script>
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/common.js?v=0.01"></script>
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/scroll.js?v=0.01"></script>
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/slide.js?v=0.01"></script>
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/load.js?v=0.01"></script>
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/btq.js?v=0.01"></script>
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/btq.js?v=0.01"></script>
<script type="text/javascript" src="https://nhonhoi-newcity.web.app/asset/js/validate.js?v=0.01"></script>


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="https://nhonhoi-newcity.web.app/asset/css/slide.css?v=1.0.1">
<link rel="stylesheet" type="text/css" href="https://nhonhoi-newcity.web.app/asset/css/desktop.css?v=1.0.1">
<link rel="stylesheet" type="text/css" href="https://nhonhoi-newcity.web.app/asset/css/style.css?v=1.0.1">
<link rel="stylesheet" type="text/css" href="https://nhonhoi-newcity.web.app/asset/css/animation.css?v=1.0.1">
<link rel="stylesheet" type="text/css" href="https://nhonhoi-newcity.web.app/asset/css/change.css?v=1.0.1">